(% extends 'base-plain.html' %)

(% block head_title %) Tackar (% endblock %)

(% block body_content %)

<div class="container centered">
  
	<div class="container text-center">  
		<h1 class="display-1"><i class="fas fa-medal"></i></h1>
		<h1><span class="text-capitalize">(( user.name ))'s</span> belöningar</h1>
	</div>

	<div class="container">
		<p class="lead">
	  		Du har fått (( user.awards|length )) belöningar.
		</p>
	</div>

	<div class="container">  
		(% if user.awards|length > 0 %)
		<h4>Mina belöningar</h4>
		(% endif %)

		(% for award in user.awards %)
		<p class="lead">(( award.created ))</p>
		(% endfor %)
	</div>  

</div>

<div class="container fixed-bottom">
  	<a href="/users/(( user.name ))" class="btn btn-secondary btn-lg btn-block">Gå tillbaka</a>
</div>

(% endblock %)