(% extends "base-nav.html" %)

(% block head_title %) Tackar (% endblock %)

(% block page_content %)

<div class="container centered">

	<form action="/users/(( user.name ))/awards" method="POST">

		<div class="container text-center">  
			<h1 class="display-1">(( award_icon() ))</i></h1>
			<h1></h1>
		</div>  

		<div class="container">
			<p class="lead">Lägg till skärmtid för (( user_name(user) ))?</p>
		</div>  

		<div class="container">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Ja</button>
		</div>  
	</form>
</div>

<div class="container fixed-bottom">
  	<a href="/users/(( user.name ))" class="btn btn-secondary btn-lg btn-block">Gå tillbaka</a>
</div>

(% endblock %)