(% extends "base-nav.html" %)


(% block head_title %) Ooops! (% endblock %)


(% block page_content %)
<div class="container centered">
	<div class="container text-center">  
		<h1 class="display-1"><i class="far fa-dizzy"></i></h1>
	  	<h1>Ooops!</h1>
	  	<h3 style="color:gray">(( response_status ))</h3>
	</div>
	<div class="container">
	  	<p class="lead">
	  		Nu så gick nåt fel men det gör inget. Visa bara detta för pappa :)
		</p>
	</div>
</div>
(% endblock %)


(% block footer_content %)
	(% if user is defined %)
  	<a href="/users/(( user.name ))" class="btn btn-link btn-lg btn-block">Till min sida</a>
	(% endif %)
(% endblock %)