(% extends "base-nav.html" %)


(% block page_content %)
<div class="container centered">
	<div class="container text-center">  
		<h1 class="display-1"><i class="far fa-kiss-wink-heart"></i></h1>
		<h1>Tack (( user_name(user) ))!</h1>
	</div>  
	<div class="container">
		<p class="lead">Vad snällt att du hjälper till. Det är vi jätteglada för.</p>
	</div>  
</div>
(% endblock %)


(% block footer_content %)
  	<a href="/users/(( user.name ))" class="btn btn-link btn-lg btn-block">Till min sida</a>
(% endblock %)