(% extends 'base-plain.html' %)

(% block head_title %) Tackar (% endblock %)

(% block body_content %)

<div class="container text-center centered">  
	<h1 class="display-1"><i class="far fa-kiss-wink-heart"></i></h1>
	<h1>Tack (( user.name ))!</h1>
</div>  

<div class="container">
	<p class="lead">Vad snällt att du hjälper till. Det är vi jätteglada för.</p>
	<p class="lead">Varje gång du hjälper till får du ett <i class="fas fa-heart"></i> som du kan köpa mer skärmtid för.</p>
</div>  

<div>
  	<a href="/users/(( user.name ))" class="btn btn-link btn-lg">Gå till min sida</a>
</div>

(% endblock %)