(% extends "base-nav.html" %)


(% block page_content %)
<div class="container">
	<div class="container text-center">  
		<h1 class="display-1">(( job_icon() ))</h1>
		<h1></h1>
	</div>  
	<div class="container text-center">
		<p class="lead"><span class="text-capitalize">(( user.name ))</span>, vad är det du har gjort?</p>
	</div>  
	<div class="container">
		(% for jobtype in jobtypes %)
		<a href="/users/(( user.name ))/jobs/(( jobtype ))" class="btn btn-primary btn-lg btn-block">(( jobtype.value ))</a>
		(% endfor %)
	</div>
</div>
(% endblock %)


(% block footer_content %)
  	<a href="/users/(( user.name ))" class="btn btn-link btn-lg btn-block">Gå tillbaka</a>
(% endblock %)
