(% extends "base-nav.html" %)


(% block page_content %)
<script>
	setTimeout(function(){
		window.location.href = '(( next_url ))';
	}, 2000);
</script>
<div class="container centered">
	<div class="container text-center"> 
		<h1 class="display-1">
			<span class="fa-stack" style="vertical-align: top;">
			  <i class="fas fa-circle fa-stack-2x my-blue-bright"></i>
			  <span class="fas fa-stack-1x my-blue-dark">(( thanks_icon() ))</span>
			</span>
		</h1> 
	</div>
</div>
(% endblock %)


(% block footer_content %)
  	<a href="/users/(( user.name ))" class="btn btn-link btn-lg btn-block">Till min sida</a>
(% endblock %)