(% extends "base-nav.html" %)


  	<!--a href="/users/(( user.name ))" class="btn btn-link btn-lg btn-block">Gå tillbaka</a-->



(% block page_content %)
<div class="container">	
	<div class="container text-center">  
		<h1 class="display-1">
			<span class="fa-stack" style="vertical-align: top;">
			  <i class="fas fa-circle fa-stack-2x my-blue-bright"></i>
			  <span class="fas fa-stack-1x my-blue-dark">(( job_icon() ))</span>
			</span>
		</h1>
	</div>  
	<div class="container text-center">
		<p class="lead">Har du hjälpt med (( jobtype.value ))?</p>
	</div>  
</div>
(% endblock %)


(% block footer_content %)
	<form action="/users/(( user.name ))/jobs" method="POST">
		<div class="container">
			<input type="hidden" id="jobType" name="jobType" value="(( jobtype ))">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Ja, det har jag</button>
		</div>  
	</form>
(% endblock %)
