(% extends "base-nav.html" %)


(% block page_content %)
<div class="container">
	<div class="container text-center my-title">  
		<h1 class="display-1">(( status_icon(user) ))</h1>
	  	<h1 class="my-page-title">(( user_name(user) ))'s sida</span></h1>
	</div>

	<div class="container">
	  	<div class="row">
    		<div class="col text-center">
    			<h1>(( user_score(user) ))</h1>
    		</div>
    		<div class="col text-center">
    			<h1>(( user_awards(user) ))</h1>
    		</div>	
    	</div>
    	<div class="row">
    		<div class="col">
    			<p>Hjärtan som du kan byta mot skärmtid.</p>
    		</div>
    		<div class="col">
    			<p>Antal skärmtid som du fått.</p>
    		</div>
    	</div>
	</div>
</div>
(% endblock %)


(% block footer_content %)
  	<a href="/users/(( user.name ))/jobs/register" class="btn btn-link btn-lg btn-block">Lägg till jobb</a>
  	(% if viewer.is_admin %)
  	<a href="/users/(( user.name ))/awards/register" class="btn btn-link btn-lg btn-block">Lägg till skärmtid</a>
  	(% endif %)
(% endblock %)