html, body{
  height:100%;
  background-color: #D6E9FC;
}


.my-background {
  background: #FCF6F5;
  padding-top: 20px;
}

.my-rounded {
  border-radius: 20px;
}

.my-blue-dark {
  color: #3B8FF2;
}

.my-blue-bright {
  color: #D6E9FC;
}

.my-green-bright {
  color: #DFF5EB;
}

.my-color3 {
  color: #EED971;
}

/* Typography */

.logo {
  font-family: 'Pacifico', cursive;
  color: black;
}


.my-title-arrow {
  padding-right: 2vw;
  padding-left:20px;
}

a:link {
    /*color: black;*/
    text-decoration: none;
}
a:visited {
    /*color: black;*/
    /*text-decoration: none;*/
}
a:hover {
    /*color: black;*/
    /*text-decoration: none;*/
}
a:active {
    /*color: black;*/
    /*text-decoration: none;*/
}

.btn-primary {
  background-color: #c;
}

.my-footer {
  padding-top: 30px;
  /*clip-path: ellipse(87% 100% at 55.18% 100%);*/
  background-color: #D6E9FC;
}

.my-page {
  clip-path: ellipse(150% 100% at 50% 0%);
background-color: #FFFFFF;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-page-title {
  margin-bottom: 40px;
}

.my-topnav a {
  color: #444444; /*#f2f2f2*/
  text-align: center;
  padding: 6px 13px;
  text-decoration: none;
}

.my-topnav a:hover {
  /*border-bottom: 3px solid #ffabe1;*/
  color: #212121;
}

.my-topnav a.active {
  /*border-bottom: 3px solid #ffe6e6;*/
  color: #000000;
  font-weight: bold;
}

.my-btn {
  z-index: 100;
}

.my-container {
  overflow: visible;
}


.my-navbar-toggler:focus,
.my-navbar-toggler:active,
.my-navbar-toggler {
  border: none;
  outline: none;
  padding: 5px;
  margin: 10px;
  z-index: 10001;
}

.my-topnav {
  overflow: hidden;
  /*margin-bottom: 10px;*/
}

.my-navbar {
  margin:0px;
  padding:0px;
}

nav {
  padding:0px;
}

.navbar-collapse {
  margin:0px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.my-navbar-nav li {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  padding-left: 20px;
}


.bg-yellow {
  background: yellow;
}

.bg-purple {
  background: purple;
}

.bg-beige {
  background: beige;
}

.bg-pink {
  background: pink;
}



.nav-arrows {
  padding-left: 3vw;
  padding-right: 3vw;
}


@media screen and (min-width: 640px) {  
  .menu-icon {
    font-size: 30px;  
  }
}